* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.input-title {
	padding: 2px;
	font-weight: bold;
	margin-right: 4px;
}

.input-field {
    padding: 0 12px;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 8px;
	display: flex;
	align-items: center;
}

.input-field-element {
	width: 70%;
	border-radius: 8px;
}

.form-input {
    outline: 2px solid transparent;
	outline-offset: 2px;
	padding: 4px;
	box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.form-title {
	border-bottom: 2px solid #000;
	padding: 4px;
	padding-left: 0;
	margin: 4px;
}

.input-field-radio-item {
	margin-bottom: -10px;
}

.input-field-radio {
	margin-top: 8px;
}
input[type="radio"] {
	margin-right: 4px;
}

.select-none {
	user-select: none;
}
.change-btn {
	cursor: pointer;
}
#image {
	width: 200px;
	height: 100px;
	font-size: 50px;
	line-height: 100px;
	font-family: "FFX LCD";
}
.captcha-box {
	display: flex;
	align-items: flex-end;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.arrows,
.actions {
	display: flex;
}

.actions i {
	margin-right: 4px;
}

.footer-btn-actions {
	background: maroon;
	padding: 1px;
	display: flex;
    width: fit-content;
	margin-left: 8px;
}

.footer-btn-actions > * {
	cursor: pointer;
	color: white;
}
body {
	background: #eee;
}

.container {
	background: #fff;
	min-height: 100vh;
	margin: 16px;
	padding: 8px;
}

.w-full {
	width: 100%;
}